<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.fireapp.firebaseapplication">

    <!-- PERMISSOES -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="br.com.fireapp.firebaseapplication.permission.MAPS_RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permissions.READ_GSERVICES" />

    <application
        android:name=".FirebaseConnection"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FirebaseTesteActivity" />
        <activity
            android:name=".CriarUsuarioActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ChamadoActivity1"
            android:label=""
            android:parentActivityName=".MainActivity"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".ChamadoActivity2"
            android:label=""
            android:parentActivityName=".ChamadoActivity1"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".ChamadoActivity3"
            android:label=""
            android:parentActivityName=".ChamadoActivity2"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".ChamadoActivity4"
            android:label=""
            android:parentActivityName=".ChamadoActivity3"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".SolicitacoesActivity"
            android:label=""
            android:theme="@style/NoActionBar" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

    </application>

</manifest>